.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
}

/* @media (min-width: 320px) {
    .page {
        width: 100%;
        }
    }

@media (min-width: 1280px) {
.page {
    width: 880px;
    }
} */

