.popup__container {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    padding: 34px 36px 37px 36px;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    transition: all .4s linear;
}