.header {
    /* display: flex;
    flex-direction: column;
    gap: 36px; */
    /* align-self: flex-start; */
    line-height: normal;
}

@media (min-width: 320px) {
    .header {
        width: 100%;
        margin: 0 0 0 -8px;
    }
}


@media (min-width: 980px) {
    .header {
        width: 880px;
        align-self: center;
    }
}
