@media (min-width: 320px) {
    .profile__info {
        display: grid;
        grid-template-columns: 189px 18px;
        grid-auto-columns: minmax(10px, auto);
        justify-content: center;
        grid-row-gap: 14px;
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 980px) {
    .profile__info {
        grid-row-gap: 6px;
        margin: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}