.card__like-btn {
    background-image: url(../../../images/vectors/like.svg);
    background-color: transparent;
    min-width: 22px;
    min-height: 19px;
    border-style: none;
}

.card__like-btn:hover {
    background-image: url(../../../images/vectors/likehover.svg);
    cursor: pointer;
    opacity: 0.5;
    
}

@media (min-width: 320px) {
    .card__like-btn  {
        margin-right: 4px;
    }
}

@media (min-width: 980px) {
    .card__like-btn  {
        margin-right: 0;
    }
}